* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, rgb(10, 10, 88), rgb(3, 61, 3));
    box-sizing: border-box;
    border: 6px solid rgb(192, 31, 39);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
    border: 4px solid rgb(156, 19, 115);
}

.nav {
    width: 700px;
    height: 60px;
    background-color: rgb(189, 20, 152);
    border-radius: 8px;
    border-top: 10px;
    overflow: hidden;
    box-shadow: 5px 10px rgb(139, 15, 139);
}

.nav ol {
    display: flex;
    list-style: none;
    position: relative;
}

.nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    text-decoration: double;
    color: rgb(17, 185, 59);
    text-transform: uppercase;
}

.animation {
    width: 20px;
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #13df91;
    transition: all 0.2s;
}

li:nth-child(1):hover~.animation {
    width: 150px;
}

li:nth-child(2):hover~.animation {
    width: 150px;
    left: 150px;
    background-color: rgb(161, 15, 64);
}

li:nth-child(3):hover~.animation {
    width: 150px;
    left: 300px;
    background-color: black;
}

li:nth-child(4):hover~.animation {
    width: 150px;
    left: 450px;
    background-color: rgb(8, 197, 65);
}